/* SITE SCSS */



/*
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Roboto', sans-serif; // 900, 400 
font-family: 'Roboto Slab', serif; // 300 
*/

$headFont: 'Pathway Gothic One', 'Impact', sans-serif;

$subFont: 'Roboto', 'Helvetica', sans-serif;
$subWeight: 900;
$subWeightAlt: 400;

$baseFont: 'Roboto Slab', 'Times New Roman', serif;
$baseWeight: 300;


body {
	font-family: $baseFont;
	font-weight: $baseWeight;
}


h1 {font: normal 4em/.95 $headFont, sans-serif; margin: 0.2em auto 0.2em auto;}
h2 {font: $subWeight 2em/1 $subFont, sans-serif; margin: 0.4em auto 0.4em auto;}
h3 {font: $subWeightAlt 1.5em/1 $subFont, sans-serif;margin: 0.4em auto 0.4em auto;}
h4,h5{font-family: $subFont; font-weight: $subWeight; text-transform: uppercase;margin:0;}

p{
	font-size: 1.08em;
	line-height: 1.55;
	margin: 0.8em auto 0.8 auto;
}


// ANCHOR LINK

a {
	color: #78909b;
	text-decoration: none;
	&:hover{color: #465962;}
}


/* GENERAL STRUCTURE */

.container {
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 100vw;
	overflow: hidden;
	//background: teal;
}