/*
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Roboto', sans-serif; // 900, 400 
font-family: 'Roboto Slab', serif; // 300 
*/

$headFont: 'Pathway Gothic One', 'Impact', sans-serif;

$subFont: 'Roboto', 'Helvetica', sans-serif;
$subWeight: 900;
$subWeightAlt: 400;

$baseFont: 'Roboto Slab', 'Times New Roman', serif;
$baseWeight: 300;