@import 'base';
@import 'xtra';
@import 'var';
@import 'mix';

/* FONTS */
body {
	font-family: $baseFont;
	font-weight: $baseWeight;
}

h1,h4 {
	font-family: $headFont;
}
h2 {
	font-family: $subFont;
	font-weight: $subWeight;
}
h3 {
	font-family: $subFont;
	font-weight: $subWeightAlt;
}

/* GENERAL STRUCTURE */

.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}





.space-hero {
	position: relative;
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
	height: 800px;



	background: pink;
@media (max-width: 400px) {
	height: 600px;
}

.hero-txt {

	position: relative;
	width: 300px;
	margin: 0 auto;
	background: yellow;
	@include hero-txtMix; 
	//@include verticle-c;
}



}

